{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1>Complex Build Pipeline</h1>
    <form method="post" action="{{ url_for('create_pipeline_complex') }}">
        <div>
            <label>
                <input type="checkbox" name="tasks" value="git-clone" checked disabled>
                Git Clone
            </label>
        </div>
        <div>
            <label>
                <input type="checkbox" name="tasks" value="maven-build" checked disabled>
                Maven Build
            </label>
        </div>
        <div>
            <label>
                <input type="checkbox" name="tasks" value="maven-push" checked disabled>
                Maven Push
            </label>
        </div>
        <div>
            <label>
                <input type="checkbox" name="tasks" value="docker-build" checked disabled>
                Docker Build
            </label>
        </div>
        <div>
            <label>
                <input type="checkbox" name="tasks" value="docker-scan" checked disabled>
                Docker Scan
            </label>
        </div>
        <div>
            <label>
                <input type="checkbox" name="tasks" value="docker-push" checked disabled>
                Docker Push
            </label>
        </div>
        <button type="submit">Create Pipeline</button>
    </form>
    <a class="back-button" href="/tekton/build">Back</a>
</div>
{% endblock %}
