<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trivy Reports</title>
    <style>
        /* Your CSS styles here */
        .back-button {
            position: absolute;
            top: 10px;
            right: 10px;
            background-color: #007bff;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

        .back-button:hover {
            background-color: #0056b3;
        }
    </style>
</head>
<body>
    <button class="back-button" onclick="window.location.href='/'">Back</button>
    <h1>Trivy Reports</h1>

    <h2>Vulnerability Reports</h2>
    <pre>{{ vulnerability_reports }}</pre>

    <h2>Config Audit Reports</h2>
    <pre>{{ config_audit_reports }}</pre>

    <h2>Trivy Operator Logs</h2>
    <pre>{{ trivy_operator_logs }}</pre>

    <h2>Infrastructure Assessment Reports</h2>
    <pre>{{ infra_assessment_reports }}</pre>

    <h2>RBAC Assessment Reports</h2>
    <pre>{{ rbac_assessment_reports }}</pre>

    <h2>Exposed Secrets Report</h2>
    <pre>{{ exposed_secrets_report }}</pre>

    <h2>Cluster Compliance Report</h2>
    <pre>{{ cluster_compliance_report }}</pre>
</body>
</html>
